<div id="overlay" class="invisible fixed top-0 left-0 h-full w-full bg-white bg-opacity-70 z-[999999] flex flex-col justify-center items-center">
            
    <div>
        <img class="w-14" src="./assets/loader.gif" alt="Loading...">
    </div>

    <h1 class="mt-3 text-2xl font-semibold text-secondary">Please wait...</h1>
</div>