<html lang="en" class="bg-gray-200">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Dashboard</title>
</head>
<body class="">
    <%- include('../partials/drawer.ejs') %>

    <main>
        <div id="content" class="!p-0 min-h-screen bg-gray-200">
            <div class="max-w-[1100px] mx-auto px-3">
                <div class="text-center pt-9">
                    <img class="w-32 h-32 rounded-full mx-auto" src="assets/profile-img/<%= `${user.eth_address}.jpg` %>" onerror="this.onerror=null; this.src='assets/upload-default.jpg';" alt="profile-img">
                    <h1 class="mt-10 text-2xl">Welcome, <%= user.name %></h1>
                </div>

                <div id="actions-container" class="py-6 grid grid-cols-1 md:grid-cols-3 gap-4">
                    <a href="/land-map" class="border-blue-500">
                        <div class="h-12 w-12 rounded-full bg-blue-400 flex justify-center items-center">
                            <svg class="stroke-blue-700" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map"><polygon points="1 6 1 22 8 18 16 22 23 18 23 2 16 6 8 2 1 6"/><line x1="8" y1="2" x2="8" y2="18"/><line x1="16" y1="6" x2="16" y2="22"/></svg>
                        </div>
                        <h1 class="text-blue-700">View Map</h1>
                    </a>

                    <% if(user.role == 'admin'){ %>

                    <a href="/superusers" class="border-green-500">
                        <div class="h-12 w-12 rounded-full bg-green-400 flex justify-center items-center">
                            <svg class="stroke-green-700" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"/><circle cx="9" cy="7" r="4"/><path d="M23 21v-2a4 4 0 0 0-3-3.87"/><path d="M16 3.13a4 4 0 0 1 0 7.75"/></svg>
                        </div>
                        <h1 class="text-green-700">Manage Superusers</h1>
                    </a>

                    <% } %>
                    <a href="/register-land" class="border-indigo-500">
                        <div class="h-12 w-12 rounded-full bg-indigo-400 flex justify-center items-center">
                            <svg class="stroke-indigo-700" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clipboard"><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"/><rect x="8" y="2" width="8" height="4" rx="1" ry="1"/></svg>
                        </div>
                        <h1 class="text-secondary">Register Land</h1>
                    </a>
                </div>

                <div class="mt-3 grid grid-cols-1 md:grid-cols-2 gap-5">
                    <div class="bg-white rounded-lg col-span-1 px-16 py-7 shadow-md">
                        <h1 class="mb-3 text-gray-500 text-base">Land Statistics</h1>
                        <canvas id="myChart"></canvas>
                    </div>

                    <div class="bg-white rounded-lg col-span-1 px-16 py-7 shadow-md">
                        <h1 class="mb-3 text-gray-500 text-base">Activity</h1>
                        <canvas id="myChart2"></canvas>
                    </div>

                    <div class="col-span-1 bg-white rounded-lg"></div>
                </div>


            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="./js/functions.js"></script>
    <script src="./js/drawer.js"></script>

    <script>
        const ctx = document.getElementById('myChart');
        const ctx2 = document.getElementById('myChart2');   

        $.ajax({
            type: 'get',
            url: '/apis/getLands',
            error: (xhr, status, error) => {
                console.log(xhr.statusText);
            },
            success: function(res){
                // console.log(res.features);

                let noUnverified = 0;
                let noPending = 0;
                let noVerified = 0;

                res.features.forEach(feature => {
                    switch(feature.properties.plotColor){
                        case red: noUnverified++; break;
                        case yellow: noPending++; break;
                        case green: noVerified++; break;
                    }
                });

                new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: ['Verified', 'Awaiting Verification', 'Unclaimed'],
                        datasets: [{
                            label: '# of Lands',
                            data: [noVerified, noPending, noUnverified],
                            backgroundColor: [
                                '#4ade80',
                                '#ffcd56',
                                '#f87171'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        plugins: {
                            tooltip: tooltipOptions,
                            legend: {
                                position: 'top'
                            }
                        }
                    }
                });
            }
        });

        $.ajax({
            type: 'get',
            url: '/apis/get-land-stats',
            error: (xhr, status, error) => {
                console.log(xhr.statusText);
            },
            success: function(res){
                // console.log(res);

                new Chart(ctx2, {
                    type: 'bar',
                    data: {
                        labels: ['Pending Verifications', 'Completed Verifications', 'Lands Registered'],
                        datasets: [{
                            data: [res.pendingVerificationsCount, res.totalVerifications, res.landsRegistered],
                            // data: [1,2,5,4],
                            backgroundColor: [
                                '#f87171',
                                '#4ade80',
                                '#60a5fa',
                            ],
                            borderColor: [
                                '#f87171',
                                '#4ade80',
                                '#60a5fa',
                            ],
                            borderWidth: 1,
                        }]
                    },
                    options: {
                        indexAxis: 'y',
                        aspectRatio: 1,
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        },
                        plugins: {
                            tooltip: tooltipOptions,
                            decimation: {
                                enable: false
                            },
                            legend: {
                                display: false
                            }
                        }
                    },
                });  
            }
        });


           
    </script>
</body>
</html>