<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Forgot Password</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body class="">
    
    <main class="bg-gray-200 h-screen flex justify-center items-center">

        <div class="grid grid-cols-1 items-center md-2:grid-cols-2 gap-8 px-3 sm:px-10 min-w-[80%]">
            <form action="" method="post" class="mb-0 grid-cols-1 w-full bg-white shadow-xl text-center py-9 px-7 rounded-xl max-w-full md-2:max-w-[530px]">
                <h1 class="text-2xl text-secondary font-bold">Forgot Password</h1>

                <p class="mt-2 text-gray-400 text-sm">Enter email address below to send password reset email</p>

                <div id="email-input" class="w-full relative mt-6">
                    <input class="form-control" type="email" name="email" id="email" placeholder="Enter email" autocomplete="off">
                    <button class="send bg-secondary text-white flex justify-center items-center absolute w-24 h-full top-0 right-0 rounded-r-md text-sm">Send Email</button>
                </div>

                <div id="email-sent" class="hidden">
                    <div class="mt-4 flex flex-col items-center gap-2">
                        <h1 class="text-2xl text-secondary">Email Sent</h1>
                        <ion-icon class="text-[80px] text-green-500" name="checkmark-circle-outline"></ion-icon>
                        <p class="mt-1 text-gray-600">Please check your email and click on the link to reset your password</p>
                    </div>
                </div>
            </form>

            <div class="hidden md-2:flex items-center grid-cols-1 max-w-[530px] py-4 pl-10">
                <img src="./assets/forgot-password.svg" alt="verification">
            </div>
        </div>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="./intl-input/js/intlTelInput.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/libphonenumber-js/bundle/libphonenumber-max.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/phone-number-input-field"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script src="./js/functions.js"></script>

    <script>
        document.querySelector('.send').addEventListener('click', e => {
            e.preventDefault();
            if (e.key === 'Enter') {
                return;
            }
            $.ajax({
                type: 'post',
                url: '/apis/forgot-password',
                data: {email: document.querySelector('#email').value},
                error: (xhr, status, error) => {
                    toastRed(xhr.responseJSON);
                    console.log(xhr.statusText);
                },
                success: function(res){
                    document.querySelector('#email-input').classList.add('hidden');
                    document.querySelector('#email-sent').classList.remove('hidden');
                    console.log(res);
                }
            });
        });
    </script>
</body>
</html>