<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body class="">
    
    <main class="bg-gray-200 h-screen flex justify-center items-center">

        <div class="grid grid-cols-1 items-center md-2:grid-cols-2 gap-8 px-3 sm:px-10 min-w-[80%]">
            <form id="new-password-form" action="/forgot-password/<%= forgotPasswordKey %>" method="post" class="mb-0 grid-cols-1 w-full bg-white shadow-xl text-center py-9 px-7 rounded-xl max-w-full md-2:max-w-[530px]">

                <% if(!resetFinished){ %>
                    <h1 class="text-2xl text-secondary font-bold">Forgot Password</h1>

                    <p class="mt-2 text-gray-400 text-sm">Welcome back, <%= name %></p>

                    <div class="validate-field w-full">
                        <div class="mt-6 floating-form">
                            <input oninput="validated(this)" onpause="passwordValidator(this)" class="form-control" type="password" name="newPassword" id="password" placeholder=" " autocomplete="off" required>
                            <label class="">Enter new password</label>
                        </div>
                        <span class="validator"></span>
                    </div>

                    <div class="validate-field w-full">
                        <div class="mt-4 floating-form">
                            <input oninput="validated(this)" onpause="confirmPasswordValidator(this)" class="form-control" type="password" name="confirmNewPassword" id="confirmNewPassword" placeholder=" " autocomplete="off" required>
                            <label class="">Confirm password</label>
                        </div>
                        <span class="validator"></span>
                    </div>

                    <div class="w-full relative mt-3">
                        <!-- <button class="send bg-secondary text-white flex justify-center items-center absolute w-24 h-full top-0 right-0 rounded-r-md text-sm">Send Code</button> -->
                    </div>
                    <div class="mt-6 flex justify-center">
                        <button id="save-new-password" class="btn btn-secondary">Save New Password</button>
                    </div>
                <% } else { %>
                    <div id="email-sent" class="">
                        <div class="mt-4 flex flex-col items-center gap-2">
                            <h1 class="text-2xl text-secondary">Password reset</h1>
                            <ion-icon class="text-[80px] text-green-500" name="checkmark-circle-outline"></ion-icon>
                            <p class="mt-1 text-gray-600">You can now use your new password to login</p>
                            <a href="/login" class="mt-3 inline-block text-secondary underline">Go to login page</a>
                        </div>
                    </div>
                <% } %>    
            </form>

            <div class="hidden md-2:flex items-center grid-cols-1 max-w-[530px] py-4 pl-10">
                <img src="./assets/password.svg" alt="password">
            </div>
        </div>
    </main>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <script src="./js/functions.js"></script>
    <script src="./js/register-validators.js"></script>

    <script>

        const form = document.querySelector('#new-password-form');

        form.addEventListener('submit', e => {
            e.preventDefault();

            let validated = validateAll();
            
            if(validated){
                form.submit();
            }
        });
    </script>
</body>
</html>